# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Compressed files
/*.tar.gz
*.tar.gz
*.zip
/*.zip

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron


/*tsv
*tsv
*.txt
/*.txt
/*.unfuzzy
*.unfuzzy
*.xml
/*.xml
/*zmw
*zmw
.*.swp
/*.table
*.table
*.temp
/*.temp
/*temp*
*/*temp*
/*test*
*test*
*.tmp
/*.tmp
/*pdf
*pdf
*.png                                                                                                                            
*.png
*.sam
/*.sam*
/*.svg
*.svg
/*.swo
*.swo
/*.jpeg
*.jpeg
*.jpg
/*.jpg
/*.json
*.json
*.log
/*.log
*.out
*.out*
/*.out
/*.out*
*_out*
/*_out*
*.pbi
*.gif
/*.gif
*gz
/*gz
*.html
/*.html
*.idx
/*.idx
.ipynb_checkpoints/*
*.jpeg
/*.jpeg

*/*EItable
*EItable
*.embl
/*.embl
*.fa
/*.fa
*.fast*
/*.fast*
*.fq
/*.fq
/*.blast*
*.blast*                                                                                                                 
*.blat*
/*.blat*
*check
/*check
.checkpoint
/.checkpoint
*.csv
/*.csv

.sam
*.bam
AssemblyStats*
*.sra
*.log
*.sql
*.bai
/*.bai
/*.bam*
*.gtf
*.gff
*.bed
/*.bed
*.psi
*.txt
*.idx*
*.idx                                                                                                                            
*.fa*
*temp*
*.json
*tpm
/*tpm
*.idx
